global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "api"
    metrics_path: /metrics
    static_configs:
      - targets: ["api:8000"]
        labels:
          service: api

  - job_name: "worker"
    static_configs:
      - targets: ["worker:8000"]
        labels:
          service: worker
